.tagWrapper{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    
    border-radius: 30px 30px 30px 30px;
    text-decoration: none;
    background-color: #818a91;
    color: #fff !important;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;

    white-space: nowrap;
    margin-right: 4px;
    margin-bottom: 0.5rem;
    display: inline-block;
}