.formCreateArticle{
    width: 70%;
    margin: auto;
    padding: 5%;
}
.btnPublish{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.input{
    margin-bottom: 20px!important;
}