.userImg{
    max-height: 100px;
    border-radius: 50%;
}
.icon{
    margin-bottom: 5px;
}
.userInfro{
    text-align: center;
    background: #f3f3f3;
    padding: 2rem 0 1rem 0;
    margin-bottom: 30px;
}
.textBio{
    color: #b0b0b0;
}