.avatar{
    max-height: 35px;
    border-radius: 50%;
}
.authorInfo{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}
.text{
    text-decoration: none;
    color: grey;
}
.authorName{
    color: #5CB85C;
}
.authorName:hover{
    color: #3d8b3d;
    text-decoration: underline;
    cursor: pointer;
}
.date{
    font-size: 0.8em;
    color: #bbb;
    margin-bottom: 0;
}
.articleTitle{
    color: #0e0e0e;
    font-size: 1.5rem;
}
.favorites{
    display: flex;
    justify-content: end;
    gap: 3;
    align-items: center;
}
.authorDateName{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 0.9em;
}
.layout{
    display: flex;
    flex-direction: row;

}



.readMore{
    font-size: 0.8em;
    text-decoration: none;
    color: #808080;
}
.tagList{
    float: right;
    display: inline-block;
}
    
.tags{
    border-radius: 30px 30px 30px 30px;
    text-decoration: none;
    border: 1px solid #909090;
    background-color: #ffffff;
    color: #909090 !important;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    list-style: none;
    white-space: nowrap;
    margin-right: 4px;
    margin-bottom: 0.5rem;
    display: inline-block;
}